# Airtable credentials for storing waitlist signups
# Use a Personal Access Token with write access to the target base/table:
# https://support.airtable.com/docs/creating-personal-access-tokens
AIRTABLE_API_KEY=patXXXXXXXXXXXXXX
AIRTABLE_BASE_ID=appXXXXXXXXXXXXXX
AIRTABLE_TABLE_NAME=Waitlist
